﻿@charset "utf-8";

h1 {
    color : red;
    background-color : black;
    text-align : center;
}

section  h1 {
    color : white;
    background-color : blue;
}

article  h1 {
    color : yellow;
    background-color : green;
}

#sectionHeader h1 {
    color : blue;
    background-color : white;
}

.hidden {
    display : none;
}